@import "./base.css";

:root {
  --bg: var(--slate-800);
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --text: white;
  --border: var(--gray-300);

  font: 1vmax var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.625rem 1.25rem;
  text-align: center;
  background-color: var(--blue-600);
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--blue-700);
}

.btn:focus {
  box-shadow: 0 0 0 4px rgb(37 99 235 / 0.5);
  outline: none;
}

.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  max-width: 90vw;
  border-radius: 0.5rem;
  background-color: var(--bg);
  color: #ffffff;
  border: 2px solid var(--gray-400);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.dialog::backdrop {
  background-color: rgb(107 114 128 / 0.7);
}

.dialog-title {
  padding: 1rem;
  min-height: 2rem;
  border-bottom: 2px solid var(--gray-400);
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.dialog-body {
  padding: 1.5rem;
  border-bottom: 2px solid var(--gray-400);
}

.dialog-buttons {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.input-number {
  color: #ffffff;
  display: inline-block;
  border: 1px solid var(--gray-600);
  border-radius: 0.5rem;
  padding: 0.625rem;
  background-color: var(--gray-700);
  font-size: 1.125rem;
  width: 8rem;
}

.input-number::placeholder {
  color: var(--gray-400);
}

.input-number:focus {
  outline: 1px solid var(--blue-500);
  border-color: var(--blue-500);
}

.input-range {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-700);
  border-radius: 0.5rem;
  appearance: none;
  cursor: pointer;
}