@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 1vmax;
}

@layer components {
  .btn {
    @apply
      rounded-lg w-full sm:w-auto px-5 py-2.5 text-center bg-blue-600
      text-white font-medium text-base
      focus:ring-4 focus:outline-none
      hover:bg-blue-700 focus:ring-blue-800;
  }

  .dialog {
    @apply rounded-lg bg-black text-white border-2 shadow backdrop:bg-gray-500 backdrop:bg-opacity-70;
  }
  
  .dialog-title {
    @apply p-4 min-h-8 border-b-2 text-4xl font-medium;
  }

  .dialog-body {
    @apply p-6 border-b-2
  }

  .dialog-buttons {
    @apply p-4 flex justify-end gap-4;
  }

  .largetext {
    @apply text-4xl;
  }

  .inputnumber {
    @apply
      text-white inline-block border rounded-lg p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400
      text-lg w-32
      focus:ring-blue-500 focus:border-blue-500;
  }

  .inputrange {
    @apply w-full h-4 bg-gray-700 rounded-lg appearance-none cursor-pointer;
  }
}