.pattern-pixel {
    background: white;
    &.black {
        background: black;
    }
    &.selected {
        background: lightgreen;
    }
    &.selected.black {
        background: darkgreen;
    }
}