body {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-variant: tabular-nums;
    line-height: 1.5715;
    font-feature-settings: 'tnum';
    margin:0px;
    height:100%;
}

a:hover {
    color: #40a9ff;
}

a {
    color: #1890ff;
    cursor: pointer;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.layout {
    min-height: 100%;
    width: 100%;
    position: fixed;
}

.col-6 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-24 {
    display: block;
    flex: 0 0 75%;
    max-width: 75%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.ui-dialog-container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(127, 140, 141, 0.7);
    z-index: 1000;
}    

.ui-dialog {
    padding: 0;
    background: white;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    display: block;
}

.ui-dialog-head {
    border-bottom: 1px solid #e8e8e8;
    padding: 1rem;
    border-radius: 2px 2px 0 0;
    margin-bottom: -1px;
    min-height: 2rem;
}

.ui-dialog-title {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    display: inline-block;
    flex: 1;
}

.ui-dialog-body {
    padding: 1.5em;
    margin-bottom: -1px;
    border-bottom: 1px solid #e8e8e8;
}

.ui-dialog-buttons {
    padding: 1em;
    text-align: right;

    & > button + button {
        margin-left: 0.5em;
    }
}



.pattern {
    margin: 6px auto;
    overflow: hidden;
    border-color: #bdc3c7;
    position: relative;
    width: 135px;
    height: 135px;
    border: #bdc3c7 solid 4px;
    &.selected {
        border: green solid 4px;
    }
}

.pattern-pixel {
    position: absolute;
    background: white;
    &.black {
        background: black;
    }
    &.selected {
        background: lightgreen;
    }
    &.selected.black {
        background: darkgreen;
    }

}

.neuron {
    position: absolute;
    background-color: pink;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-40px, -40px);
}

.pattern-editor {
    margin: 6px auto;
    overflow: hidden;
    border-color: #bdc3c7;
    position: relative;
    width: 450px;
    height: 450px;
    border: #bdc3c7 solid 4px;
    &.selected {
        border: green solid 4px;
    }
}